body {
  background: #fff;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-family: "SFU Futura Regular", sans-serif;
}

/**
 * --------------------------------------------------------------------
 * SFU Futura
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "SFU Futura Regular";
  font-display: swap;
  src: local("SFU Futura Regular"), url("fonts/SFU_Futura/SFUFuturaRegular.TTF") format("woff"), url("fonts/SFU_Futura/SFUFuturaRegular.TTF") format("opentype"), url("fonts/SFU_Futura/SFUFuturaRegular.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SFU Futura Heavy";
  font-display: swap;
  src: local("SFU Futura Heavy"), url("fonts/SFU_Futura/SFUFuturaHeavy.TTF") format("woff"), url("fonts/SFU_Futura/SFUFuturaHeavy.TTF") format("opentype"), url("fonts/SFU_Futura/SFUFuturaHeavy.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Prata";
  font-display: swap;
  src: local("Prata"), url("fonts/Prata-Regular.ttf") format("woff"), url("fonts/Prata-Regular.ttf") format("opentype"), url("fonts/Prata-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CenturyGothicPro-Bold";
  font-display: swap;
  src: local("CenturyGothicPro-Bold"), url("fonts/CenturyGothicPro/CenturyGothicPro-Bold.ttf") format("woff"), url("fonts/CenturyGothicPro/CenturyGothicPro-Bold.ttf") format("opentype"), url("fonts/CenturyGothicPro/CenturyGothicPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CenturyGothicPro-Regular";
  font-display: swap;
  src: local("CenturyGothicPro-Regular"), url("fonts/CenturyGothicPro/CenturyGothicPro-Regular.ttf") format("woff"), url("fonts/CenturyGothicPro/CenturyGothicPro-Regular.ttf") format("opentype"), url("fonts/CenturyGothicPro/CenturyGothicPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.uk-height-min-small {
  min-height: 150px;
}
.uk-height-min-medium {
  min-height: 300px;
}
.uk-height-min-large {
  min-height: 450px;
}
.uk-lightbox {
  background: rgba(0, 172, 171, 0.9);
}

@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-8-xl {
    margin-left: -8px !important;
  }
  .uk-grid-8-xl > * {
    padding-left: 8px !important;
  }
  .uk-grid-8-xl > .uk-grid-margin {
    margin-top: 8px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-8-l {
    margin-left: -8px !important;
  }
  .uk-grid-8-l > * {
    padding-left: 8px !important;
  }
  .uk-grid-8-l > .uk-grid-margin {
    margin-top: 8px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-8-m {
    margin-left: -8px !important;
  }
  .uk-grid-8-m > * {
    padding-left: 8px !important;
  }
  .uk-grid-8-m > .uk-grid-margin {
    margin-top: 8px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-8-s {
    margin-left: -8px !important;
  }
  .uk-grid-8-s > * {
    padding-left: 8px !important;
  }
  .uk-grid-8-s > .uk-grid-margin {
    margin-top: 8px !important;
  }
}

.uk-grid-8 {
  margin-left: -8px;
}
.uk-grid-8 > * {
  padding-left: 8px;
}
.uk-grid-8 > .uk-grid-margin {
  margin-top: 8px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-12-xl {
    margin-left: -12px !important;
  }
  .uk-grid-12-xl > * {
    padding-left: 12px !important;
  }
  .uk-grid-12-xl > .uk-grid-margin {
    margin-top: 12px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-12-l {
    margin-left: -12px !important;
  }
  .uk-grid-12-l > * {
    padding-left: 12px !important;
  }
  .uk-grid-12-l > .uk-grid-margin {
    margin-top: 12px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-12-m {
    margin-left: -12px !important;
  }
  .uk-grid-12-m > * {
    padding-left: 12px !important;
  }
  .uk-grid-12-m > .uk-grid-margin {
    margin-top: 12px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-12-s {
    margin-left: -12px !important;
  }
  .uk-grid-12-s > * {
    padding-left: 12px !important;
  }
  .uk-grid-12-s > .uk-grid-margin {
    margin-top: 12px !important;
  }
}

.uk-grid-12 {
  margin-left: -12px;
}
.uk-grid-12 > * {
  padding-left: 12px;
}
.uk-grid-12 > .uk-grid-margin {
  margin-top: 12px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-28-xl {
    margin-left: -28px !important;
  }
  .uk-grid-28-xl > * {
    padding-left: 28px !important;
  }
  .uk-grid-28-xl > .uk-grid-margin {
    margin-top: 28px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-28-l {
    margin-left: -28px !important;
  }
  .uk-grid-28-l > * {
    padding-left: 28px !important;
  }
  .uk-grid-28-l > .uk-grid-margin {
    margin-top: 28px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-28-m {
    margin-left: -28px !important;
  }
  .uk-grid-28-m > * {
    padding-left: 28px !important;
  }
  .uk-grid-28-m > .uk-grid-margin {
    margin-top: 28px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-28-s {
    margin-left: -28px !important;
  }
  .uk-grid-28-s > * {
    padding-left: 28px !important;
  }
  .uk-grid-28-s > .uk-grid-margin {
    margin-top: 28px !important;
  }
}

.uk-grid-28 {
  margin-left: -28px;
}
.uk-grid-28 > * {
  padding-left: 28px;
}
.uk-grid-28 > .uk-grid-margin {
  margin-top: 28px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-44-xl {
    margin-left: -44px !important;
  }
  .uk-grid-44-xl > * {
    padding-left: 44px !important;
  }
  .uk-grid-44-xl > .uk-grid-margin {
    margin-top: 44px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-44-l {
    margin-left: -44px !important;
  }
  .uk-grid-44-l > * {
    padding-left: 44px !important;
  }
  .uk-grid-44-l > .uk-grid-margin {
    margin-top: 44px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-44-m {
    margin-left: -44px !important;
  }
  .uk-grid-44-m > * {
    padding-left: 44px !important;
  }
  .uk-grid-44-m > .uk-grid-margin {
    margin-top: 44px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-44-s {
    margin-left: -44px !important;
  }
  .uk-grid-44-s > * {
    padding-left: 44px !important;
  }
  .uk-grid-44-s > .uk-grid-margin {
    margin-top: 44px !important;
  }
}

.uk-grid-44 {
  margin-left: -44px;
}
.uk-grid-44 > * {
  padding-left: 44px;
}
.uk-grid-44 > .uk-grid-margin {
  margin-top: 44px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

@media (min-width: 1600px) {
  .uk-grid-84-xl {
    margin-left: -84px !important;
  }
  .uk-grid-84-xl > * {
    padding-left: 84px !important;
  }
  .uk-grid-84-xl > .uk-grid-margin {
    margin-top: 84px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-84-l {
    margin-left: -84px !important;
  }
  .uk-grid-84-l > * {
    padding-left: 84px !important;
  }
  .uk-grid-84-l > .uk-grid-margin {
    margin-top: 84px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-84-m {
    margin-left: -84px !important;
  }
  .uk-grid-84-m > * {
    padding-left: 84px !important;
  }
  .uk-grid-84-m > .uk-grid-margin {
    margin-top: 84px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-84-s {
    margin-left: -84px !important;
  }
  .uk-grid-84-s > * {
    padding-left: 84px !important;
  }
  .uk-grid-84-s > .uk-grid-margin {
    margin-top: 84px !important;
  }
}

.uk-grid-84 {
  margin-left: -84px;
}
.uk-grid-84 > * {
  padding-left: 84px;
}
.uk-grid-84 > .uk-grid-margin {
  margin-top: 84px;
}

@media (min-width: 1600px) {
  .uk-grid-133-xl {
    margin-left: -133px !important;
  }
  .uk-grid-133-xl > * {
    padding-left: 133px !important;
  }
  .uk-grid-133-xl > .uk-grid-margin {
    margin-top: 133px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-133-l {
    margin-left: -133px !important;
  }
  .uk-grid-133-l > * {
    padding-left: 133px !important;
  }
  .uk-grid-133-l > .uk-grid-margin {
    margin-top: 133px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-133-m {
    margin-left: -133px !important;
  }
  .uk-grid-133-m > * {
    padding-left: 133px !important;
  }
  .uk-grid-133-m > .uk-grid-margin {
    margin-top: 133px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-133-s {
    margin-left: -133px !important;
  }
  .uk-grid-133-s > * {
    padding-left: 133px !important;
  }
  .uk-grid-133-s > .uk-grid-margin {
    margin-top: 133px !important;
  }
}

.uk-grid-133 {
  margin-left: -133px;
}
.uk-grid-133 > * {
  padding-left: 133px;
}
.uk-grid-133 > .uk-grid-margin {
  margin-top: 133px;
}

.anima {
  opacity: 0 !important;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
.anima.animate {
  opacity: 1 !important;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.8s ease-in-out, transform 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.8s ease-in-out, transform 0.8s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
}
.item-4px:nth-child(n+2) {
  margin-top: 0.25rem;
}

.item-8px:nth-child(n+2) {
  margin-top: 0.5rem;
}

.item-12px:nth-child(n+2) {
  margin-top: 0.75rem;
}

.item-16px:nth-child(n+2) {
  margin-top: 1rem;
}

.item-28px:nth-child(n+2) {
  margin-top: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  .item-28px:nth-child(n+2) {
    margin-top: 1.75rem;
  }
}

.item-32px:nth-child(n+2) {
  margin-top: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  .item-32px:nth-child(n+2) {
    margin-top: 2rem;
  }
}

.item-36px:nth-child(n+2) {
  margin-top: calc(1.35rem + 1.2vw);
}
@media (min-width: 1200px) {
  .item-36px:nth-child(n+2) {
    margin-top: 2.25rem;
  }
}

.item-40px:nth-child(n+2) {
  margin-top: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  .item-40px:nth-child(n+2) {
    margin-top: 2.5rem;
  }
}

.item-42px:nth-child(n+2) {
  margin-top: calc(1.3875rem + 1.65vw);
}
@media (min-width: 1200px) {
  .item-42px:nth-child(n+2) {
    margin-top: 2.625rem;
  }
}

.item-44px:nth-child(n+2) {
  margin-top: calc(1.4rem + 1.8vw);
}
@media (min-width: 1200px) {
  .item-44px:nth-child(n+2) {
    margin-top: 2.75rem;
  }
}

.item-48px:nth-child(n+2) {
  margin-top: calc(1.425rem + 2.1vw);
}
@media (min-width: 1200px) {
  .item-48px:nth-child(n+2) {
    margin-top: 3rem;
  }
}

.item-50px:nth-child(n+2) {
  margin-top: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .item-50px:nth-child(n+2) {
    margin-top: 3.125rem;
  }
}

.item-60px:nth-child(n+2) {
  margin-top: calc(1.5rem + 3vw);
}
@media (min-width: 1200px) {
  .item-60px:nth-child(n+2) {
    margin-top: 3.75rem;
  }
}

.item-64px:nth-child(n+2) {
  margin-top: calc(1.525rem + 3.3vw);
}
@media (min-width: 1200px) {
  .item-64px:nth-child(n+2) {
    margin-top: 4rem;
  }
}

.item-74px:nth-child(n+2) {
  margin-top: calc(1.5875rem + 4.05vw);
}
@media (min-width: 1200px) {
  .item-74px:nth-child(n+2) {
    margin-top: 4.625rem;
  }
}

.item-84px:nth-child(n+2) {
  margin-top: calc(1.65rem + 4.8vw);
}
@media (min-width: 1200px) {
  .item-84px:nth-child(n+2) {
    margin-top: 5.25rem;
  }
}

.item-100px:nth-child(n+2) {
  margin-top: calc(1.75rem + 6vw);
}
@media (min-width: 1200px) {
  .item-100px:nth-child(n+2) {
    margin-top: 6.25rem;
  }
}

.item-132px:nth-child(n+2) {
  margin-top: calc(1.95rem + 8.4vw);
}
@media (min-width: 1200px) {
  .item-132px:nth-child(n+2) {
    margin-top: 8.25rem;
  }
}

.width-264px {
  max-width: 100%;
  width: 264px;
}

.width-298px {
  max-width: 100%;
  width: 298px;
}

.width-360px {
  max-width: 100%;
  width: 360px;
}

.width-366px {
  max-width: 100%;
  width: 366px;
}

.width-388px {
  max-width: 100%;
  width: 388px;
}

.width-410px {
  max-width: 100%;
  width: 410px;
}

.width-432px {
  max-width: 100%;
  width: 432px;
}

.width-453px {
  max-width: 100%;
  width: 453px;
}

.width-500px {
  max-width: 100%;
  width: 500px;
}

.width-540px {
  max-width: 100%;
  width: 540px;
}

.width-708px {
  max-width: 100%;
  width: 708px;
}

.width-715px {
  max-width: 100%;
  width: 715px;
}

.width-740px {
  max-width: 100%;
  width: 740px;
}

.width-870px {
  max-width: 100%;
  width: 870px;
}

.width-960px {
  max-width: 100%;
  width: 960px;
}

.uk-navbar-transparent .header__menuBtn {
  color: rgba(255, 255, 255, 0.7);
}
.header__lang > li > a {
  font-size: 0.875rem;
  color: #6C6C6C;
}
.uk-navbar-transparent .header__lang > li > a {
  color: rgba(255, 255, 255, 0.7);
}
.header__lang .uk-dropdown {
  min-width: 60px;
  padding: 10px;
}
.header__lang .uk-dropdown-nav > li > a {
  text-transform: uppercase;
  font-size: 0.875rem;
  gap: 5px;
}
.header__navbar:is(.uk-navbar-transparent) {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
}
.header__navbar:is(.uk-navbar-transparent) .uk-navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.65);
}
.header__navbar:not(.uk-navbar-transparent) {
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}
.header__navbar:not(.uk-navbar-transparent) .uk-navbar-nav > li > a {
  color: #6C6C6C;
}
.header__navbar__booknow {
  font-family: "CenturyGothicPro-Bold", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-decoration-line: underline !important;
  text-transform: uppercase;
  color: #00ACAB !important;
}
.uk-navbar-transparent .header__navbar__booknow {
  color: #fff !important;
}
.header__navbar__booknow:hover {
  color: #0C607E !important;
}
.header__navbar .uk-navbar-nav {
  gap: 12px;
}
.header__navbar .uk-navbar-nav > li > a {
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "SFU Futura Regular", sans-serif;
}
.header__navbar .uk-navbar-nav > li.current-menu-parent > a, .header__navbar .uk-navbar-nav > li.current-offer-ancestor > a, .header__navbar .uk-navbar-nav > li.current-menu-item > a, .header__navbar .uk-navbar-nav > li.uk-active > a, .header__navbar .uk-navbar-nav > li:hover > a {
  color: #00ACAB !important;
}

.footer {
  background: #2F4147;
}
.footer__top {
  padding-top: calc(1.375rem + 1.5vw);
  padding-bottom: calc(2.05rem + 9.6vw);
}
@media (min-width: 1200px) {
  .footer__top {
    padding-top: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .footer__top {
    padding-bottom: 9.25rem;
  }
}
.footer__center {
  border-top: 1px solid #B2B2AE;
  padding-bottom: calc(1.275rem + 0.3vw);
  padding-top: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  .footer__center {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .footer__center {
    padding-top: 1.5rem;
  }
}
.footer__form__legend {
  color: #00ACAB !important;
  line-height: 1.56;
  letter-spacing: 0.2px;
  font-family: "SFU Futura Regular", sans-serif;
  font-size: 1rem;
}
.footer__form__input {
  padding-left: 0 !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  background-color: transparent !important;
  font-size: 0.875rem;
}
.footer__form__btn {
  background-color: transparent;
  padding: 0;
}
.footer__address {
  letter-spacing: 0.2px;
  line-height: 1.78;
  font-size: 0.875rem;
  font-family: "SFU Futura Regular", sans-serif;
  color: #FFF !important;
}
.footer__address .phone {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: center left;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cg clip-path='url(%23clip0_643_145)'%3E%3Cpath d='M3.65398 1.85808C3.59495 1.78214 3.52043 1.71963 3.43538 1.67471C3.35034 1.62978 3.2567 1.60346 3.1607 1.5975C3.0647 1.59154 2.96853 1.60608 2.87858 1.64014C2.78863 1.67421 2.70695 1.72702 2.63898 1.79508L1.60498 2.83008C1.12198 3.31408 0.943983 3.99908 1.15498 4.60008C2.03171 7.08719 3.45614 9.34549 5.32298 11.2081C7.18557 13.0749 9.44387 14.4993 11.931 15.3761C12.532 15.5871 13.217 15.4091 13.701 14.9261L14.735 13.8921C14.803 13.8241 14.8559 13.7424 14.8899 13.6525C14.924 13.5625 14.9385 13.4664 14.9326 13.3704C14.9266 13.2744 14.9003 13.1807 14.8554 13.0957C14.8104 13.0106 14.7479 12.9361 14.672 12.8771L12.365 11.0831C12.2838 11.0203 12.1894 10.9767 12.089 10.9556C11.9885 10.9344 11.8846 10.9363 11.785 10.9611L9.59498 11.5081C9.30264 11.5806 8.99651 11.5765 8.70623 11.4961C8.41594 11.4157 8.15132 11.2617 7.93798 11.0491L5.48198 8.59208C5.26916 8.37884 5.115 8.11427 5.03441 7.82398C4.95382 7.53369 4.94954 7.22751 5.02198 6.93508L5.56998 4.74508C5.59474 4.64546 5.59663 4.54154 5.5755 4.44109C5.55437 4.34064 5.51078 4.24628 5.44798 4.16508L3.65398 1.85808ZM1.88398 1.04108C2.05898 0.86603 2.26921 0.730211 2.50072 0.642641C2.73223 0.555072 2.97973 0.517757 3.22676 0.533173C3.4738 0.548589 3.71474 0.616385 3.93356 0.732057C4.15239 0.847729 4.34411 1.00863 4.49598 1.20408L6.28998 3.51008C6.61898 3.93308 6.73498 4.48408 6.60498 5.00408L6.05798 7.19408C6.0299 7.30752 6.03153 7.42628 6.0627 7.53891C6.09388 7.65154 6.15356 7.75423 6.23598 7.83708L8.69298 10.2941C8.77593 10.3767 8.87879 10.4364 8.99161 10.4676C9.10443 10.4988 9.2234 10.5003 9.33698 10.4721L11.526 9.92508C11.7826 9.86129 12.0504 9.85649 12.3091 9.91105C12.5679 9.96561 12.8109 10.0781 13.02 10.2401L15.326 12.0341C16.155 12.6791 16.231 13.9041 15.489 14.6451L14.455 15.6791C13.715 16.4191 12.609 16.7441 11.578 16.3811C8.93865 15.4537 6.54252 13.9428 4.56798 11.9611C2.58636 9.98683 1.07553 7.59105 0.147983 4.95208C-0.214017 3.92208 0.110983 2.81508 0.850983 2.07508L1.88398 1.04108Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_643_145'%3E%3Crect width='16' height='16' fill='white' transform='translate(0 0.530273)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.footer__address .email {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: center left;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M2.66683 13.8634C2.30016 13.8634 1.98639 13.733 1.7255 13.4721C1.46461 13.2112 1.33394 12.8972 1.3335 12.5301V4.53011C1.3335 4.16344 1.46416 3.84967 1.7255 3.58878C1.98683 3.32789 2.30061 3.19722 2.66683 3.19678H13.3335C13.7002 3.19678 14.0142 3.32744 14.2755 3.58878C14.5368 3.85011 14.6673 4.16389 14.6668 4.53011V12.5301C14.6668 12.8968 14.5364 13.2108 14.2755 13.4721C14.0146 13.7334 13.7006 13.8639 13.3335 13.8634H2.66683ZM8.00016 9.19678L2.66683 5.86344V12.5301H13.3335V5.86344L8.00016 9.19678ZM8.00016 7.86344L13.3335 4.53011H2.66683L8.00016 7.86344ZM2.66683 5.86344V4.53011V12.5301V5.86344Z' fill='white'/%3E%3C/svg%3E");
}
.footer__txtCopyright {
  font-size: 0.75rem;
  font-family: "SFU Futura Regular", sans-serif;
  line-height: 1;
  color: rgba(255, 255, 255, 0.5);
}
.footer__title {
  color: #B2B2AE !important;
  font-family: "SFU Futura Regular", sans-serif;
  font-size: 1rem;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  line-height: 1.45;
}
.footer__icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__about__boxFlex {
  gap: calc(1.475rem + 2.7vw);
}
@media (min-width: 1200px) {
  .home__about__boxFlex {
    gap: 3.5rem;
  }
}
.home__about__boxFlex > * {
  margin: 0;
}
.home__about__divider {
  display: flex;
  flex-direction: column;
  gap: calc(1.35rem + 1.2vw);
  align-items: center;
}
@media (min-width: 1200px) {
  .home__about__divider {
    gap: 2.25rem;
  }
}
.home__about__divider:before {
  content: "";
  width: 115px;
  height: 1px;
  display: flex;
  background: currentColor;
}
.home__about__title {
  color: #0C607E;
  font-size: calc(1.35rem + 1.2vw);
  line-height: 1.11;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Prata", sans-serif;
}
@media (min-width: 1200px) {
  .home__about__title {
    font-size: 2.25rem;
  }
}
.home__about__desc {
  color: #0C607E;
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: 0.2px;
}
.home__about__link {
  color: #00ACAB !important;
  font-size: 0.875rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-bottom: 2px solid currentColor;
}
.home__about__link:hover {
  color: #0C607E !important;
}
.home__experience__section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), var(--path-to-image), lightgray 0px -650.023px/100% 303.158% no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.home__experience__boxFlex {
  gap: calc(1.475rem + 2.7vw);
}
@media (min-width: 1200px) {
  .home__experience__boxFlex {
    gap: 3.5rem;
  }
}
.home__experience__boxFlex > * {
  margin: 0;
}
.home__experience__title {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: calc(1.35rem + 1.2vw);
  line-height: 1.11;
  font-family: "Prata", sans-serif;
}
@media (min-width: 1200px) {
  .home__experience__title {
    font-size: 2.25rem;
  }
}
.home__experience__txt {
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: 0.2px;
  gap: calc(1.275rem + 0.3vw);
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .home__experience__txt {
    gap: 1.5rem;
  }
}
.home__experience__txt:before {
  width: 115px;
  height: 1px;
  display: flex;
  content: "";
  background-color: #fff;
}
.home__experience__btn {
  line-height: 56px;
  font-size: 0.875rem;
  letter-spacing: 4.4px;
}
.home__hightlights__overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0C607E 130.49%);
}
.home__hightlights__title {
  font-size: calc(1.35rem + 1.2vw);
  font-weight: 900;
  font-family: "SFU Futura Heavy", sans-serif;
  line-height: 1.22;
  letter-spacing: 1.7px;
}
@media (min-width: 1200px) {
  .home__hightlights__title {
    font-size: 2.25rem;
  }
}
.home__location__section {
  background-color: #F7F5F2;
}
@media (min-width: 1200px) {
  .home__location__section {
    min-height: 720px;
  }
}
.home__location__title {
  font-size: calc(1.325rem + 0.9vw);
  letter-spacing: 2px;
  line-height: 1.25;
  font-family: "SFU Futura Regular", sans-serif;
  color: #0C607E;
}
@media (min-width: 1200px) {
  .home__location__title {
    font-size: 2rem;
  }
}
.home__location__name {
  letter-spacing: 0.2px;
  font-size: 1rem;
  line-height: 1.75;
}
.home__location__value {
  font-family: "SFU Futura Heavy", sans-serif;
  color: #0C607E;
  font-size: 1.25rem;
  line-height: 1.2;
}
.home__room__title {
  color: #0C607E;
  font-size: calc(1.35rem + 1.2vw);
  line-height: 1.11;
  letter-spacing: 2px;
  font-weight: 900;
  font-family: "SFU Futura Heavy", sans-serif;
}
@media (min-width: 1200px) {
  .home__room__title {
    font-size: 2.25rem;
  }
}
.home__room__btn {
  line-height: 46px;
  letter-spacing: 3px;
  background-color: #fff;
  color: #00ACAB;
  border-color: #00ACAB !important;
}
.home__room__btn:hover {
  color: #fff;
  background-color: #00ACAB;
}
.home__room__title1 {
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1.4;
  text-transform: uppercase;
  color: #0C607E;
}
.home__room__title1 a {
  color: #0C607E;
}
.home__room__txt {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #051419;
}

.contact__form .wpforms-head-container {
  padding-bottom: 24px !important;
}
.contact__form .wpforms-head-container .wpforms-title {
  margin: 0;
  font-size: calc(1.35rem + 1.2vw);
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.33;
  color: #0C607E !important;
  font-family: "Prata", sans-serif;
}
@media (min-width: 1200px) {
  .contact__form .wpforms-head-container .wpforms-title {
    font-size: 2.25rem;
  }
}
.contact__form .wpforms-field-layout {
  padding-top: 0;
  padding-bottom: 0;
}
.contact__form .wpforms-submit {
  width: 100%;
  background-color: #00ACAB !important;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.contact__form .wpforms-field-select {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact__form .wpforms-field-select .wpforms-field-label {
  margin: 0;
  color: #051419;
  font-size: 0.875rem;
  white-space: nowrap;
}
.contact__form .wpforms-field-select select {
  max-width: inherit;
}
.contact__form__legend {
  color: #0C607E;
  font-size: calc(1.325rem + 0.9vw);
  font-family: "SFU Futura Heavy", sans-serif;
  letter-spacing: 2px;
  line-height: 1.25;
}
@media (min-width: 1200px) {
  .contact__form__legend {
    font-size: 2rem;
  }
}
.contact__form__input {
  color: #B2B2AE;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 0.875rem;
  padding-left: 0 !important;
  background-color: transparent !important;
  border-top: none;
  border-left: none;
  border-right: none;
}
.contact__form__input:focus {
  border-color: #0C607E;
}
.contact__form__btn {
  background: #00ACAB;
  font-size: 0.8125rem;
  letter-spacing: 3px;
}
.contact__form__btn:hover {
  background: #0C607E;
}

.accommodation__banner {
  position: relative;
}
.accommodation__banner__title {
  font-size: calc(1.35rem + 1.2vw);
  line-height: 1.11;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .accommodation__banner__title {
    font-size: 2.25rem;
  }
}
.accommodation__scroll > * {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}
.accommodation__include__section {
  background: #EFFFFF;
}
.accommodation__include__title {
  color: #051419;
  font-size: calc(1.35rem + 1.2vw);
  line-height: 1.11;
  letter-spacing: 2px;
  text-transform: capitalize;
}
@media (min-width: 1200px) {
  .accommodation__include__title {
    font-size: 2.25rem;
  }
}
.accommodation__include__box {
  border-radius: 4px;
  background: rgba(0, 172, 171, 0.1);
}
.accommodation__include__txt {
  color: #03121A;
  font-size: 1.125rem;
  line-height: 1.11;
}
.accommodation__room__card {
  padding-left: 15px;
  padding-right: 15px;
  padding: 15px;
}
@media (min-width: 1200px) {
  .accommodation__room__card {
    padding: calc(1.275rem + 0.3vw);
    border-radius: 8px;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .accommodation__room__card {
    padding: 1.5rem;
  }
}
.accommodation__room__card__title {
  font-size: calc(1.325rem + 0.9vw);
  line-height: 1.37;
  color: #051419;
}
@media (min-width: 1200px) {
  .accommodation__room__card__title {
    font-size: 2rem;
  }
}
.accommodation__room__card__desc {
  color: #051419;
  line-height: 1.71;
  font-size: 0.875rem;
}
.accommodation__room__card__slider__label {
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  width: 52px;
  height: 28px;
  padding: 6px 8px 6px 7px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #fff !important;
}
.accommodation__room__card__slider__slidenav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
}
.accommodation__room__card__slider__slidenav.uk-invisible {
  opacity: 0.35;
  visibility: visible !important;
}
.accommodation__room__card__tab > * > :first-child {
  padding: 0;
  color: rgba(12, 96, 126, 0.5);
  letter-spacing: 2px;
  font-size: 1.0625rem;
  background-color: transparent !important;
}
.accommodation__room__card__tab > * > :first-child:hover {
  color: #0C607E !important;
  text-decoration-line: underline;
}
.accommodation__room__card__tab > *.uk-active > a {
  color: #0C607E !important;
  text-decoration-line: underline;
}
.accommodation__room__card__option > li {
  padding-left: 40px;
  color: #051419;
  font-size: 1rem;
  background-position: center left;
  background-repeat: no-repeat;
}
.accommodation__room__card__option > li.size {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M16.78 7.22C16.922 7.36 17 7.551 17 7.75V10.25C17 10.4489 16.921 10.6397 16.7803 10.7803C16.6397 10.921 16.4489 11 16.25 11C16.0511 11 15.8603 10.921 15.7197 10.7803C15.579 10.6397 15.5 10.4489 15.5 10.25V9.56L13.78 11.28C13.7108 11.3516 13.628 11.4087 13.5365 11.448C13.445 11.4872 13.3465 11.5079 13.2469 11.5087C13.1474 11.5095 13.0486 11.4905 12.9565 11.4527C12.8643 11.415 12.7806 11.3592 12.7102 11.2888C12.6398 11.2183 12.5842 11.1346 12.5465 11.0424C12.5088 10.9502 12.4899 10.8514 12.4908 10.7518C12.4917 10.6523 12.5125 10.5539 12.5518 10.4624C12.5912 10.3709 12.6483 10.2882 12.72 10.219L14.44 8.5H13.75C13.5511 8.5 13.3603 8.42098 13.2197 8.28033C13.079 8.13968 13 7.94891 13 7.75C13 7.55109 13.079 7.36032 13.2197 7.21967C13.3603 7.07902 13.5511 7 13.75 7H16.25C16.4488 7.00017 16.6395 7.07931 16.78 7.22ZM7 16.25C7 16.4489 7.07902 16.6397 7.21967 16.7803C7.36032 16.921 7.55109 17 7.75 17H10.251C10.4499 17 10.6407 16.921 10.7813 16.7803C10.922 16.6397 11.001 16.4489 11.001 16.25C11.001 16.0511 10.922 15.8603 10.7813 15.7197C10.6407 15.579 10.4499 15.5 10.251 15.5H9.561L11.281 13.78C11.4176 13.6385 11.4931 13.449 11.4913 13.2523C11.4895 13.0557 11.4105 12.8676 11.2714 12.7286C11.1322 12.5896 10.9441 12.5109 10.7475 12.5092C10.5508 12.5076 10.3614 12.5833 10.22 12.72L8.5 14.438V13.748C8.5 13.5491 8.42098 13.3583 8.28033 13.2177C8.13968 13.077 7.94891 12.998 7.75 12.998C7.55109 12.998 7.36032 13.077 7.21967 13.2177C7.07902 13.3583 7 13.5491 7 13.748V16.25ZM2 6.75C2 6.02065 2.28973 5.32118 2.80546 4.80546C3.32118 4.28973 4.02065 4 4.75 4H19.25C19.9793 4 20.6788 4.28973 21.1945 4.80546C21.7103 5.32118 22 6.02065 22 6.75V17.25C22 17.6111 21.9289 17.9687 21.7907 18.3024C21.6525 18.636 21.4499 18.9392 21.1945 19.1945C20.9392 19.4499 20.636 19.6525 20.3024 19.7907C19.9687 19.9289 19.6111 20 19.25 20H4.75C4.38886 20 4.03127 19.9289 3.69762 19.7907C3.36398 19.6525 3.06082 19.4499 2.80546 19.1945C2.5501 18.9392 2.34753 18.636 2.20933 18.3024C2.07113 17.9687 2 17.6111 2 17.25V6.75ZM4.75 5.5C4.06 5.5 3.5 6.06 3.5 6.75V17.25C3.5 17.94 4.06 18.5 4.75 18.5H19.25C19.94 18.5 20.5 17.94 20.5 17.25V6.75C20.5 6.06 19.94 5.5 19.25 5.5H4.75Z' fill='%230C607E'/%3E%3C/svg%3E");
}
.accommodation__room__card__option > li.max_guests {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18.8439 7.875C18.7065 9.78141 17.2923 11.25 15.7501 11.25C14.2079 11.25 12.7914 9.78188 12.6564 7.875C12.5157 5.89172 13.8925 4.5 15.7501 4.5C17.6078 4.5 18.9845 5.92781 18.8439 7.875Z' stroke='%230C607E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.7498 14.25C12.695 14.25 9.75731 15.7673 9.02138 18.7223C8.92388 19.1133 9.16903 19.5 9.57075 19.5H21.9293C22.3311 19.5 22.5748 19.1133 22.4787 18.7223C21.7428 15.72 18.8051 14.25 15.7498 14.25Z' stroke='%230C607E' stroke-width='1.5' stroke-miterlimit='10'/%3E%3Cpath d='M9.37496 8.71594C9.26527 10.2384 8.12246 11.4375 6.89058 11.4375C5.65871 11.4375 4.51402 10.2389 4.40621 8.71594C4.29418 7.13203 5.40652 6 6.89058 6C8.37465 6 9.48699 7.16109 9.37496 8.71594Z' stroke='%230C607E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.65622 14.3437C8.81013 13.9561 7.87825 13.807 6.8906 13.807C4.4531 13.807 2.10466 15.0187 1.51638 17.3789C1.43903 17.6911 1.63497 18 1.9556 18H7.21872' stroke='%230C607E' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
}
.accommodation__room__card__option > li.views {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M21 1.50001C21.3791 1.49894 21.7445 1.64144 22.0228 1.89885C22.3011 2.15626 22.4716 2.50949 22.5 2.88751V21C22.5011 21.3791 22.3586 21.7445 22.1012 22.0228C21.8437 22.3011 21.4905 22.4716 21.1125 22.5H3.00001C2.62093 22.5011 2.2555 22.3586 1.97722 22.1012C1.69894 21.8437 1.52844 21.4905 1.50001 21.1125V3.00001C1.49894 2.62093 1.64144 2.2555 1.89885 1.97722C2.15626 1.69894 2.50949 1.52844 2.88751 1.50001H3.00001H21ZM16.56 16.5H7.44001L3.00001 20.9325V21H21V20.9325L16.56 16.5ZM21 3.00001H3.00001V18.81L12 9.81001L21 18.81V3.00001ZM12 11.9325L8.93251 15H15.06L12 11.9325ZM16.5 5.25001C17.0967 5.25001 17.669 5.48706 18.091 5.90902C18.513 6.33097 18.75 6.90327 18.75 7.50001C18.75 8.09674 18.513 8.66904 18.091 9.091C17.669 9.51295 17.0967 9.75001 16.5 9.75001C15.9033 9.75001 15.331 9.51295 14.909 9.091C14.4871 8.66904 14.25 8.09674 14.25 7.50001C14.25 6.90327 14.4871 6.33097 14.909 5.90902C15.331 5.48706 15.9033 5.25001 16.5 5.25001ZM16.5 6.75001C16.3011 6.75001 16.1103 6.82902 15.9697 6.96968C15.829 7.11033 15.75 7.30109 15.75 7.50001C15.75 7.69892 15.829 7.88968 15.9697 8.03034C16.1103 8.17099 16.3011 8.25001 16.5 8.25001C16.6989 8.25001 16.8897 8.17099 17.0303 8.03034C17.171 7.88968 17.25 7.69892 17.25 7.50001C17.25 7.30109 17.171 7.11033 17.0303 6.96968C16.8897 6.82902 16.6989 6.75001 16.5 6.75001Z' fill='%230C607E'/%3E%3C/svg%3E");
}
.accommodation__room__card__option > li.bed {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.944 3.25H13.056C14.894 3.25 16.35 3.25 17.489 3.403C18.661 3.561 19.61 3.893 20.359 4.641C21.107 5.39 21.439 6.339 21.597 7.511C21.748 8.637 21.75 10.071 21.75 11.879C22.094 12.162 22.367 12.529 22.54 12.948C22.661 13.238 22.708 13.538 22.73 13.855C22.75 14.159 22.75 14.53 22.75 14.975V15.025C22.75 15.47 22.75 15.841 22.73 16.145C22.7171 16.4557 22.6529 16.7622 22.54 17.052C22.4019 17.3857 22.1994 17.689 21.9441 17.9445C21.6888 18.2 21.3857 18.4027 21.052 18.541C20.762 18.661 20.462 18.708 20.145 18.729C20.0135 18.7378 19.8818 18.7434 19.75 18.746V20C19.75 20.1989 19.671 20.3897 19.5303 20.5303C19.3897 20.671 19.1989 20.75 19 20.75C18.8011 20.75 18.6103 20.671 18.4697 20.5303C18.329 20.3897 18.25 20.1989 18.25 20V18.75H5.75V20C5.75 20.1989 5.67098 20.3897 5.53033 20.5303C5.38968 20.671 5.19891 20.75 5 20.75C4.80109 20.75 4.61032 20.671 4.46967 20.5303C4.32902 20.3897 4.25 20.1989 4.25 20V18.745C4.11823 18.7428 3.98652 18.7374 3.855 18.729C3.54438 18.7167 3.23791 18.6532 2.948 18.541C2.61416 18.4028 2.31082 18.2002 2.05533 17.9447C1.79984 17.6892 1.5972 17.3858 1.459 17.052C1.339 16.762 1.292 16.462 1.271 16.145C1.25 15.841 1.25 15.47 1.25 15.025V14.975C1.25 14.53 1.25 14.159 1.27 13.855C1.292 13.537 1.34 13.238 1.46 12.948C1.63182 12.5321 1.90308 12.1647 2.25 11.878C2.25 10.072 2.252 8.637 2.403 7.511C2.561 6.339 2.893 5.39 3.641 4.641C4.39 3.893 5.339 3.561 6.511 3.403C7.651 3.25 9.106 3.25 10.944 3.25ZM3.75 11.279C4.08288 11.2575 4.41643 11.2478 4.75 11.25V10.448C4.75 9.55 4.75 8.8 4.83 8.206C4.914 7.578 5.1 7.011 5.555 6.556C6.011 6.1 6.578 5.914 7.205 5.83C7.8 5.75 8.55 5.75 9.448 5.75H14.552C15.451 5.75 16.2 5.75 16.794 5.83C17.422 5.914 17.989 6.1 18.444 6.555C18.9 7.011 19.086 7.578 19.17 8.205C19.25 8.8 19.25 9.55 19.25 10.448V11.25C19.5836 11.2478 19.9171 11.2575 20.25 11.279C20.247 9.744 20.23 8.604 20.11 7.711C19.975 6.705 19.721 6.125 19.298 5.701C18.875 5.279 18.295 5.025 17.289 4.89C16.262 4.752 14.907 4.75 13 4.75H11C9.093 4.75 7.739 4.752 6.71 4.89C5.705 5.025 5.125 5.279 4.702 5.702C4.279 6.125 4.025 6.705 3.89 7.711C3.77 8.604 3.753 9.744 3.75 11.279ZM17.75 11.25V10.5C17.75 9.536 17.748 8.888 17.683 8.405C17.621 7.944 17.514 7.746 17.383 7.616C17.253 7.486 17.056 7.379 16.595 7.316C16.112 7.252 15.464 7.25 14.5 7.25H12.75V11.25H17.75ZM11.25 11.25V7.25H9.5C8.536 7.25 7.888 7.252 7.405 7.317C6.944 7.379 6.746 7.486 6.616 7.617C6.486 7.747 6.379 7.944 6.316 8.405C6.252 8.888 6.25 9.536 6.25 10.5V11.25H11.25ZM3.957 12.767C3.716 12.784 3.599 12.813 3.522 12.845C3.3702 12.9078 3.23228 12.9999 3.11611 13.1161C2.99995 13.2323 2.90782 13.3702 2.845 13.522C2.813 13.599 2.784 13.716 2.767 13.957C2.75 14.204 2.75 14.524 2.75 15C2.75 15.476 2.75 15.796 2.767 16.043C2.784 16.284 2.813 16.401 2.845 16.478C2.972 16.785 3.215 17.028 3.522 17.155C3.599 17.187 3.716 17.216 3.957 17.233C4.204 17.25 4.524 17.25 5 17.25H19C19.476 17.25 19.796 17.25 20.043 17.233C20.284 17.216 20.401 17.187 20.478 17.155C20.785 17.028 21.028 16.785 21.155 16.478C21.187 16.401 21.216 16.284 21.233 16.043C21.25 15.796 21.25 15.476 21.25 15C21.25 14.524 21.25 14.204 21.233 13.957C21.216 13.716 21.187 13.599 21.155 13.522C21.0922 13.3702 21.0001 13.2323 20.8839 13.1161C20.7677 12.9999 20.6298 12.9078 20.478 12.845C20.401 12.813 20.284 12.784 20.043 12.767C19.6956 12.7507 19.3478 12.745 19 12.75H5C4.524 12.75 4.204 12.75 3.957 12.767Z' fill='%230C607E'/%3E%3C/svg%3E");
}

.add-read-more.show-less-content .second-section,
.add-read-more.show-less-content .read-less {
  display: none;
}

.add-read-more.show-more-content .read-more {
  display: none;
}

.add-read-more .read-more,
.add-read-more .read-less {
  font-weight: bold;
  margin-left: 2px;
  color: #00ACAB;
  cursor: pointer;
}

.dining__content {
  color: #051419;
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  line-height: 1.56;
}
.dining__boxFlexColumn {
  gap: calc(1.35rem + 1.2vw);
}
@media (min-width: 1200px) {
  .dining__boxFlexColumn {
    gap: 2.25rem;
  }
}
.dining__boxFlexColumn:before {
  content: "";
  width: 115px;
  height: 1px;
  display: flex;
  background: #0C607E;
}
.dining__capacity {
  color: #0C607E;
  line-height: 1.5;
  letter-spacing: 0.2px;
  font-size: 1rem;
}
.dining__linkMenu {
  color: #00ACAB !important;
  letter-spacing: 4.4px;
  text-transform: uppercase;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 8px;
}
.dining__linkMenu:after {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20.6475 12.3975L13.8975 19.1475C13.7909 19.2469 13.6498 19.301 13.5041 19.2984C13.3584 19.2958 13.2193 19.2368 13.1163 19.1337C13.0132 19.0307 12.9542 18.8916 12.9516 18.7459C12.949 18.6002 13.0031 18.4591 13.1025 18.3525L18.8916 12.5625H3.75C3.60082 12.5625 3.45774 12.5032 3.35225 12.3978C3.24676 12.2923 3.1875 12.1492 3.1875 12C3.1875 11.8508 3.24676 11.7077 3.35225 11.6023C3.45774 11.4968 3.60082 11.4375 3.75 11.4375H18.8916L13.1025 5.64751C13.0031 5.54088 12.949 5.39984 12.9516 5.25411C12.9542 5.10839 13.0132 4.96935 13.1163 4.86629C13.2193 4.76323 13.3584 4.7042 13.5041 4.70163C13.6498 4.69905 13.7909 4.75315 13.8975 4.85251L20.6475 11.6025C20.7528 11.708 20.812 11.8509 20.812 12C20.812 12.1491 20.7528 12.292 20.6475 12.3975Z' fill='%2300ACAB'/%3E%3C/svg%3E");
}
@media (min-width: 1200px) {
  .dining__boxImage__item .uk-cover-container {
    display: inline-flex;
  }
}
@media (min-width: 1200px) {
  .dining__boxImage__item:nth-child(1) .uk-cover-container {
    position: relative;
    left: 42px;
  }
}
@media (min-width: 1200px) {
  .dining__boxImage__item:nth-child(3) .uk-cover-container {
    border: 16px solid #fff;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 94px;
  }
}

.offer__contentBox {
  background: #F7F5F2;
  font-size: 0.875rem;
  color: #000;
  line-height: 1.71;
}
@media (min-width: 1200px) {
  .offer__contentBox {
    padding: 32px 24px;
  }
}
.offer__btnView {
  color: #FFF !important;
  font-size: 1rem;
  letter-spacing: 0.2px;
  border: none;
  padding: 0;
  line-height: inherit;
  text-transform: inherit;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}
.offer__btnView svg {
  transition: all 0.2s;
}
.offer__btnView.open svg {
  transform: rotate(180deg);
}
.offer__overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.92%, #000 179.55%);
  min-height: 132px;
}
.offer__navFilter {
  border-radius: 4px;
  background: #F7F5F2;
  display: inline-flex;
  padding: 16px 24px;
}
.offer__navFilter .uk-subnav {
  margin-left: 0;
  gap: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  .offer__navFilter .uk-subnav {
    gap: 2rem;
  }
}
.offer__navFilter .uk-subnav > * {
  padding-left: 0;
}
.offer__navFilter .uk-subnav > * > * {
  text-transform: inherit;
  letter-spacing: 2px;
  color: rgba(12, 96, 126, 0.5) !important;
  background-color: transparent !important;
  font-size: 1.0625rem;
}
.offer__navFilter .uk-subnav > * > *:first-child {
  padding: 0 !important;
}
.offer__navFilter .uk-subnav > * > *:hover {
  background-color: transparent !important;
  color: #0C607E !important;
}
.offer__navFilter .uk-subnav > *.uk-active > a {
  background-color: transparent !important;
  color: #0C607E !important;
  text-decoration-line: underline !important;
}

.celebrations__content {
  color: #B2B2AE;
  letter-spacing: 0.2px;
  line-height: 1.5;
  font-size: 1rem;
}
.celebrations__content > * {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
