.accommodation {
  &__banner{
    position: relative;
    &__title{
      @include font-size(36px);
      line-height: 1.11;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
  &__scroll{
    >*{
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: scroll;
      animation-name: scroll;
    }
  }
  &__include{
    &__section{
      background: #EFFFFF;
    }
    &__title{
      color: #051419;
      @include font-size(36px);
      line-height: 1.11;
      letter-spacing: 2px;
      text-transform: capitalize;
    }
    &__box{
      border-radius: 4px;
      background: rgba(0, 172, 171, 0.10);
    }
    &__txt{
      color: #03121A;
      @include font-size(18px);
      line-height: 1.11;
    }
  }
  &__room{
    &__card{
      padding-left: 15px;
      padding-right: 15px;
      padding: 15px;
      @include media-breakpoint-up('l'){
        @include padding(24px);
        border-radius: 8px;
      }
      &__title{
        @include font-size(32px);
        line-height: 1.37;
        color: #051419;
      }
      &__desc{
        color: #051419;
        line-height: 1.71;
        @include font-size(14px);
      }
      &__slider{
        &__img{

        }
        &__label{
          @include font-size(16px);
          background: rgba(0, 0, 0, 0.60);
          display: flex;
          width: 52px;
          height: 28px;
          padding: 6px 8px 6px 7px;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          color: #fff !important;
        }
        &__slidenav{
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          box-sizing: border-box;
          background: rgba(0, 0, 0, 0.60);
          &.uk-invisible{
            opacity: 0.35;
            visibility: visible !important;
          }
          &--next{

          }
          &--prev{

          }
        }
      }
      &__tab{
        >*{
          >:first-child{
            padding: 0;
            color: rgba(12, 96, 126, 0.50);
            letter-spacing: 2px;
            @include font-size(17px);
            background-color: transparent !important;
            &:hover{
              color: #0C607E !important;
              text-decoration-line: underline;
            }
          }
          &.uk-active{
            >a{
              color: #0C607E !important;
              text-decoration-line: underline;
            }
          }
        }
      }
      &__option{
        >li{
          padding-left: 40px;
          color: #051419;
          @include font-size(16px);
          background-position: center left;
          background-repeat: no-repeat;
          &.size{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M16.78 7.22C16.922 7.36 17 7.551 17 7.75V10.25C17 10.4489 16.921 10.6397 16.7803 10.7803C16.6397 10.921 16.4489 11 16.25 11C16.0511 11 15.8603 10.921 15.7197 10.7803C15.579 10.6397 15.5 10.4489 15.5 10.25V9.56L13.78 11.28C13.7108 11.3516 13.628 11.4087 13.5365 11.448C13.445 11.4872 13.3465 11.5079 13.2469 11.5087C13.1474 11.5095 13.0486 11.4905 12.9565 11.4527C12.8643 11.415 12.7806 11.3592 12.7102 11.2888C12.6398 11.2183 12.5842 11.1346 12.5465 11.0424C12.5088 10.9502 12.4899 10.8514 12.4908 10.7518C12.4917 10.6523 12.5125 10.5539 12.5518 10.4624C12.5912 10.3709 12.6483 10.2882 12.72 10.219L14.44 8.5H13.75C13.5511 8.5 13.3603 8.42098 13.2197 8.28033C13.079 8.13968 13 7.94891 13 7.75C13 7.55109 13.079 7.36032 13.2197 7.21967C13.3603 7.07902 13.5511 7 13.75 7H16.25C16.4488 7.00017 16.6395 7.07931 16.78 7.22ZM7 16.25C7 16.4489 7.07902 16.6397 7.21967 16.7803C7.36032 16.921 7.55109 17 7.75 17H10.251C10.4499 17 10.6407 16.921 10.7813 16.7803C10.922 16.6397 11.001 16.4489 11.001 16.25C11.001 16.0511 10.922 15.8603 10.7813 15.7197C10.6407 15.579 10.4499 15.5 10.251 15.5H9.561L11.281 13.78C11.4176 13.6385 11.4931 13.449 11.4913 13.2523C11.4895 13.0557 11.4105 12.8676 11.2714 12.7286C11.1322 12.5896 10.9441 12.5109 10.7475 12.5092C10.5508 12.5076 10.3614 12.5833 10.22 12.72L8.5 14.438V13.748C8.5 13.5491 8.42098 13.3583 8.28033 13.2177C8.13968 13.077 7.94891 12.998 7.75 12.998C7.55109 12.998 7.36032 13.077 7.21967 13.2177C7.07902 13.3583 7 13.5491 7 13.748V16.25ZM2 6.75C2 6.02065 2.28973 5.32118 2.80546 4.80546C3.32118 4.28973 4.02065 4 4.75 4H19.25C19.9793 4 20.6788 4.28973 21.1945 4.80546C21.7103 5.32118 22 6.02065 22 6.75V17.25C22 17.6111 21.9289 17.9687 21.7907 18.3024C21.6525 18.636 21.4499 18.9392 21.1945 19.1945C20.9392 19.4499 20.636 19.6525 20.3024 19.7907C19.9687 19.9289 19.6111 20 19.25 20H4.75C4.38886 20 4.03127 19.9289 3.69762 19.7907C3.36398 19.6525 3.06082 19.4499 2.80546 19.1945C2.5501 18.9392 2.34753 18.636 2.20933 18.3024C2.07113 17.9687 2 17.6111 2 17.25V6.75ZM4.75 5.5C4.06 5.5 3.5 6.06 3.5 6.75V17.25C3.5 17.94 4.06 18.5 4.75 18.5H19.25C19.94 18.5 20.5 17.94 20.5 17.25V6.75C20.5 6.06 19.94 5.5 19.25 5.5H4.75Z' fill='%230C607E'/%3E%3C/svg%3E");
          }
          &.max_guests{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18.8439 7.875C18.7065 9.78141 17.2923 11.25 15.7501 11.25C14.2079 11.25 12.7914 9.78188 12.6564 7.875C12.5157 5.89172 13.8925 4.5 15.7501 4.5C17.6078 4.5 18.9845 5.92781 18.8439 7.875Z' stroke='%230C607E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.7498 14.25C12.695 14.25 9.75731 15.7673 9.02138 18.7223C8.92388 19.1133 9.16903 19.5 9.57075 19.5H21.9293C22.3311 19.5 22.5748 19.1133 22.4787 18.7223C21.7428 15.72 18.8051 14.25 15.7498 14.25Z' stroke='%230C607E' stroke-width='1.5' stroke-miterlimit='10'/%3E%3Cpath d='M9.37496 8.71594C9.26527 10.2384 8.12246 11.4375 6.89058 11.4375C5.65871 11.4375 4.51402 10.2389 4.40621 8.71594C4.29418 7.13203 5.40652 6 6.89058 6C8.37465 6 9.48699 7.16109 9.37496 8.71594Z' stroke='%230C607E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.65622 14.3437C8.81013 13.9561 7.87825 13.807 6.8906 13.807C4.4531 13.807 2.10466 15.0187 1.51638 17.3789C1.43903 17.6911 1.63497 18 1.9556 18H7.21872' stroke='%230C607E' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
          }
          &.views{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M21 1.50001C21.3791 1.49894 21.7445 1.64144 22.0228 1.89885C22.3011 2.15626 22.4716 2.50949 22.5 2.88751V21C22.5011 21.3791 22.3586 21.7445 22.1012 22.0228C21.8437 22.3011 21.4905 22.4716 21.1125 22.5H3.00001C2.62093 22.5011 2.2555 22.3586 1.97722 22.1012C1.69894 21.8437 1.52844 21.4905 1.50001 21.1125V3.00001C1.49894 2.62093 1.64144 2.2555 1.89885 1.97722C2.15626 1.69894 2.50949 1.52844 2.88751 1.50001H3.00001H21ZM16.56 16.5H7.44001L3.00001 20.9325V21H21V20.9325L16.56 16.5ZM21 3.00001H3.00001V18.81L12 9.81001L21 18.81V3.00001ZM12 11.9325L8.93251 15H15.06L12 11.9325ZM16.5 5.25001C17.0967 5.25001 17.669 5.48706 18.091 5.90902C18.513 6.33097 18.75 6.90327 18.75 7.50001C18.75 8.09674 18.513 8.66904 18.091 9.091C17.669 9.51295 17.0967 9.75001 16.5 9.75001C15.9033 9.75001 15.331 9.51295 14.909 9.091C14.4871 8.66904 14.25 8.09674 14.25 7.50001C14.25 6.90327 14.4871 6.33097 14.909 5.90902C15.331 5.48706 15.9033 5.25001 16.5 5.25001ZM16.5 6.75001C16.3011 6.75001 16.1103 6.82902 15.9697 6.96968C15.829 7.11033 15.75 7.30109 15.75 7.50001C15.75 7.69892 15.829 7.88968 15.9697 8.03034C16.1103 8.17099 16.3011 8.25001 16.5 8.25001C16.6989 8.25001 16.8897 8.17099 17.0303 8.03034C17.171 7.88968 17.25 7.69892 17.25 7.50001C17.25 7.30109 17.171 7.11033 17.0303 6.96968C16.8897 6.82902 16.6989 6.75001 16.5 6.75001Z' fill='%230C607E'/%3E%3C/svg%3E");
          }
          &.bed{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.944 3.25H13.056C14.894 3.25 16.35 3.25 17.489 3.403C18.661 3.561 19.61 3.893 20.359 4.641C21.107 5.39 21.439 6.339 21.597 7.511C21.748 8.637 21.75 10.071 21.75 11.879C22.094 12.162 22.367 12.529 22.54 12.948C22.661 13.238 22.708 13.538 22.73 13.855C22.75 14.159 22.75 14.53 22.75 14.975V15.025C22.75 15.47 22.75 15.841 22.73 16.145C22.7171 16.4557 22.6529 16.7622 22.54 17.052C22.4019 17.3857 22.1994 17.689 21.9441 17.9445C21.6888 18.2 21.3857 18.4027 21.052 18.541C20.762 18.661 20.462 18.708 20.145 18.729C20.0135 18.7378 19.8818 18.7434 19.75 18.746V20C19.75 20.1989 19.671 20.3897 19.5303 20.5303C19.3897 20.671 19.1989 20.75 19 20.75C18.8011 20.75 18.6103 20.671 18.4697 20.5303C18.329 20.3897 18.25 20.1989 18.25 20V18.75H5.75V20C5.75 20.1989 5.67098 20.3897 5.53033 20.5303C5.38968 20.671 5.19891 20.75 5 20.75C4.80109 20.75 4.61032 20.671 4.46967 20.5303C4.32902 20.3897 4.25 20.1989 4.25 20V18.745C4.11823 18.7428 3.98652 18.7374 3.855 18.729C3.54438 18.7167 3.23791 18.6532 2.948 18.541C2.61416 18.4028 2.31082 18.2002 2.05533 17.9447C1.79984 17.6892 1.5972 17.3858 1.459 17.052C1.339 16.762 1.292 16.462 1.271 16.145C1.25 15.841 1.25 15.47 1.25 15.025V14.975C1.25 14.53 1.25 14.159 1.27 13.855C1.292 13.537 1.34 13.238 1.46 12.948C1.63182 12.5321 1.90308 12.1647 2.25 11.878C2.25 10.072 2.252 8.637 2.403 7.511C2.561 6.339 2.893 5.39 3.641 4.641C4.39 3.893 5.339 3.561 6.511 3.403C7.651 3.25 9.106 3.25 10.944 3.25ZM3.75 11.279C4.08288 11.2575 4.41643 11.2478 4.75 11.25V10.448C4.75 9.55 4.75 8.8 4.83 8.206C4.914 7.578 5.1 7.011 5.555 6.556C6.011 6.1 6.578 5.914 7.205 5.83C7.8 5.75 8.55 5.75 9.448 5.75H14.552C15.451 5.75 16.2 5.75 16.794 5.83C17.422 5.914 17.989 6.1 18.444 6.555C18.9 7.011 19.086 7.578 19.17 8.205C19.25 8.8 19.25 9.55 19.25 10.448V11.25C19.5836 11.2478 19.9171 11.2575 20.25 11.279C20.247 9.744 20.23 8.604 20.11 7.711C19.975 6.705 19.721 6.125 19.298 5.701C18.875 5.279 18.295 5.025 17.289 4.89C16.262 4.752 14.907 4.75 13 4.75H11C9.093 4.75 7.739 4.752 6.71 4.89C5.705 5.025 5.125 5.279 4.702 5.702C4.279 6.125 4.025 6.705 3.89 7.711C3.77 8.604 3.753 9.744 3.75 11.279ZM17.75 11.25V10.5C17.75 9.536 17.748 8.888 17.683 8.405C17.621 7.944 17.514 7.746 17.383 7.616C17.253 7.486 17.056 7.379 16.595 7.316C16.112 7.252 15.464 7.25 14.5 7.25H12.75V11.25H17.75ZM11.25 11.25V7.25H9.5C8.536 7.25 7.888 7.252 7.405 7.317C6.944 7.379 6.746 7.486 6.616 7.617C6.486 7.747 6.379 7.944 6.316 8.405C6.252 8.888 6.25 9.536 6.25 10.5V11.25H11.25ZM3.957 12.767C3.716 12.784 3.599 12.813 3.522 12.845C3.3702 12.9078 3.23228 12.9999 3.11611 13.1161C2.99995 13.2323 2.90782 13.3702 2.845 13.522C2.813 13.599 2.784 13.716 2.767 13.957C2.75 14.204 2.75 14.524 2.75 15C2.75 15.476 2.75 15.796 2.767 16.043C2.784 16.284 2.813 16.401 2.845 16.478C2.972 16.785 3.215 17.028 3.522 17.155C3.599 17.187 3.716 17.216 3.957 17.233C4.204 17.25 4.524 17.25 5 17.25H19C19.476 17.25 19.796 17.25 20.043 17.233C20.284 17.216 20.401 17.187 20.478 17.155C20.785 17.028 21.028 16.785 21.155 16.478C21.187 16.401 21.216 16.284 21.233 16.043C21.25 15.796 21.25 15.476 21.25 15C21.25 14.524 21.25 14.204 21.233 13.957C21.216 13.716 21.187 13.599 21.155 13.522C21.0922 13.3702 21.0001 13.2323 20.8839 13.1161C20.7677 12.9999 20.6298 12.9078 20.478 12.845C20.401 12.813 20.284 12.784 20.043 12.767C19.6956 12.7507 19.3478 12.745 19 12.75H5C4.524 12.75 4.204 12.75 3.957 12.767Z' fill='%230C607E'/%3E%3C/svg%3E");
          }
        }
      }
    }
  }
}