.contact{
  &__form{
    .wpforms-head-container{
      padding-bottom: 24px !important;
      .wpforms-title{
        margin: 0;
        @include font-size(36px);
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 1.33;
        color: #0C607E !important;
        font-family: $font-Prata;
      }
    }
    .wpforms-field-layout{
      padding-top: 0;
      padding-bottom: 0;
    }
    .wpforms-submit{
      width: 100%;
      background-color: #00ACAB !important;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    .wpforms-field-select{
      display: flex;
      align-items: center;
      gap: 10px;
      .wpforms-field-label{
        margin: 0;
        color: #051419;
        @include font-size(14px);
        white-space: nowrap;
      }
      select{
        max-width: inherit;
      }
    }



    &__legend{
      color: #0C607E;
      @include font-size(32px);
      font-family: $font-SFUFuturaHeavy;
      letter-spacing: 2px;
      line-height: 1.25;
    }
    &__input{
      color: #B2B2AE;
      font-feature-settings: 'clig' off, 'liga' off;
      @include font-size(14px);
      padding-left: 0 !important;
      background-color: transparent !important;
      border-top: none;
      border-left: none;
      border-right: none;
      &:focus{
        border-color: #0C607E;
      }
    }
    &__btn{
      background: #00ACAB;
      @include font-size(13px);
      letter-spacing: 3px;
      &:hover{
        background: #0C607E;
      }
    }
  }
}