/**
 * --------------------------------------------------------------------
 * SFU Futura
 * --------------------------------------------------------------------
 */
@font-face{
  font-family:'SFU Futura Regular';
  font-display: swap;
  src:local('SFU Futura Regular'),
  url('fonts/SFU_Futura/SFUFuturaRegular.TTF') format('woff'),
  url('fonts/SFU_Futura/SFUFuturaRegular.TTF') format('opentype'),
  url('fonts/SFU_Futura/SFUFuturaRegular.TTF') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'SFU Futura Heavy';
  font-display: swap;
  src:local('SFU Futura Heavy'),
  url('fonts/SFU_Futura/SFUFuturaHeavy.TTF') format('woff'),
  url('fonts/SFU_Futura/SFUFuturaHeavy.TTF') format('opentype'),
  url('fonts/SFU_Futura/SFUFuturaHeavy.TTF') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'Prata';
  font-display: swap;
  src:local('Prata'),
  url('fonts/Prata-Regular.ttf') format('woff'),
  url('fonts/Prata-Regular.ttf') format('opentype'),
  url('fonts/Prata-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'CenturyGothicPro-Bold';
  font-display: swap;
  src:local('CenturyGothicPro-Bold'),
  url('fonts/CenturyGothicPro/CenturyGothicPro-Bold.ttf') format('woff'),
  url('fonts/CenturyGothicPro/CenturyGothicPro-Bold.ttf') format('opentype'),
  url('fonts/CenturyGothicPro/CenturyGothicPro-Bold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'CenturyGothicPro-Regular';
  font-display: swap;
  src:local('CenturyGothicPro-Regular'),
  url('fonts/CenturyGothicPro/CenturyGothicPro-Regular.ttf') format('woff'),
  url('fonts/CenturyGothicPro/CenturyGothicPro-Regular.ttf') format('opentype'),
  url('fonts/CenturyGothicPro/CenturyGothicPro-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}